---
title: About Jack Sutter
layout: main
bio: 'Jack Sutter''s mission is to create meaningful works in metal that blur the
  line between art and science. Form and function work in unison during every step
  of the process during Jack''s building process. Every aspect is considered with
  the client(s) with careful precision.  Each step is approached with creative optimism.
  No project is too big or small for Suttermade Fabrication. '
clients: Innovative Forge, Fusion Metal Crafters, Moment Skis, Lost Machine, Burning
  Man, Carson City Arts &Tourism
awards: '"Xzar" Featured in The One Moto Show, Collision Conference'
slides:
- "/uploads/2017/12/22/jack4.png"
- "/uploads/2017/12/22/jack2.png"
- "/uploads/2017/12/22/jack3-1.png"
- "/uploads/2017/12/22/jack1.png"
---

<div class="about-hero inc-fade-speed-2">

  <div class="content">
    <h1 class="fadein-3-sec">
      Make Cool Shit.
    </h1>
  </div>
  <div class="page-hero-scroll-down">
    <span>
      Read More
    </span>
    <span>
      {% include svg-arrow.html %}
    </span>
  </div>

  <div class="about-hero-slider">

    {% for slide in page.slides %}
      <div class="about-hero-slide" style="background-image:url('{{slide}}');background-size:cover;background-repeat:no-repeat;"></div>
    {% endfor %}

  </div>

</div>

<div class="row row-bump-top row-bump-bottom about">
  <div class="col-half">
    <h1>
      Jack Sutter
    </h1>
    <p>
      {{ page.bio }}
      <span class="page-share">
        {% include svg-ig.html %}
        {% include svg-linkedin.html %}
        {% include svg-twitter.html %}
      </span>
    </p>
    <p>
      <span>
        Clients
      </span>
      {{ page.awards }}
    </p>
    <p>
      <span>
        Awards & Mentions
      </span>
      {{ page.awards }}
    </p>

  </div>
  <div class="col-half badge">
    <img src="{{site.baseurl}}/assets/img-jacktrades.png" />
  </div>
</div>

<script>
$('.about-hero-slider').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: true,
  fade: true,
  autoplay: true,
  speed: 400,
  autoplaySpeed: 3000
});
</script>

{% include lmnt-gallery-footer.html %}
