---
title: Jack Sutter
layout: main
bio: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
  euismod tincidunt ut laoreet dolore.
clients: Innovative Forge, Fusion Metal Crafters, Burning Man, The Generator
awards: Innovative Forge, Fusion Metal Crafters, Burning Man, The Generator
slides:
- https://source.unsplash.com/1000x1000/?cats
- https://source.unsplash.com/1000x1000/?cows
- https://source.unsplash.com/1000x1000/?milk
- https://source.unsplash.com/1000x1000/?food
---

<div class="about-hero inc-fade-speed-2">

  <div class="content">
    <h1 class="fadein-3-sec">
      Make Cool Shit.
    </h1>
  </div>
  <div class="page-hero-scroll-down">
    <span>
      Read More
    </span>
    <span>
      {% include svg-arrow.html %}
    </span>
  </div>

  <div class="about-hero-slider">

    {% for slide in page.slides %}
      <div class="about-hero-slide" style="background-image:url('{{slide}}');background-size:cover;background-repeat:no-repeat;"></div>
    {% endfor %}

  </div>

</div>

<div class="row row-bump-top row-bump-bottom about">
  <div class="col-half">
    <h1>
      Jack Sutter
    </h1>
    <p>
      {{ page.bio }}
      <span class="page-share">
        {% include svg-ig.html %}
        {% include svg-linkedin.html %}
        {% include svg-twitter.html %}
      </span>
    </p>
    <p>
      <span>
        Clients
      </span>
      {{ page.clients }}
    </p>
    <p>
      <span>
        Awards & Mentions
      </span>
      {{ page.awards }}
    </p>

  </div>
  <div class="col-half badge">
    <img src="{{site.baseurl}}/assets/img-jacktrades.png" />
  </div>
</div>

<script>
$('.about-hero-slider').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: true,
  fade: true,
  autoplay: true,
  speed: 400,
  autoplaySpeed: 3000
});
</script>

{% include lmnt-gallery-footer.html %}
