---
title: "Make Cool Shit."
layout: home
description: "Make Cool shit."
---

<div class="home-hero inc-fade-speed-2">

  <div class="home-hero-top fadein-1-5-sec">
    {{ page.description }}
  </div>

  <div class="content">
    <a href="{{site.baseurl}}/projects.html">
      <div class="home-hero-branding fadein-1-sec">
        {% include svg-logo.html %}
      </div>
      <h1 class="fadein-3-sec">
        Suttermade.
      </h1>
    </a>
  </div>

  <div class="home-hero-nav">
    <ul>
      <li class="fadein-2-sec">
        <a href="{{site.baseurl}}/projects.html">
          Projects
        </a>
      </li>
      <li class="fadein-3-sec">
        <a href="{{site.baseurl}}/about.html">
          About
        </a>
      </li>
    </ul>
  </div>

  <div class="lmnt-home-hero-overlay">
  </div>

  <div class="home-hero-slider">
    <div class="home-hero-slide" style="background-image:url('{{site.baseurl}}/assets/img-jack-burn.jpg');background-size:cover;background-repeat:no-repeat;">
    </div>
    <div class="home-hero-slide" style="background-image:url('https://source.unsplash.com/1000x1000/?cats');background-size:cover;background-repeat:no-repeat;">
    </div>
    <div class="home-hero-slide" style="background-image:url('https://source.unsplash.com/1000x1000/?dogs');background-size:cover;background-repeat:no-repeat;">
    </div>
  </div>

</div>

<div class="gallery-footer-container" style="padding-top:0px;">
  <div class="gallery-footer-inner">
    {% for post in site.posts | limit:3 %}
      {% include lmnt-project-card.html third='true' %}
    {% endfor %}
  </div>
  <div class="gallery-footer-cta">
    <a href="{{ site.baseurl }}/projects.html">
      <h3>
        View All Projects
      </h3>
    </a>
  </div>
</div>

<script>
$('.home-hero-slider').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  autoplay: true,
  speed: 400,
  autoplaySpeed: 3000
});
</script>
