---
title: Projects
layout: main
description: 'Dream. Draw. Build. '
---
<div class="gallery-container">
  <div class="gallery-inner">
    {% assign fade-count = 0 %}
    {% for post in site.posts %}
      {% include lmnt-project-card.html %}
    {% endfor %}
  </div>
</div>

<a href="{{ site.baseurl }}/about.html">
  <div class="about-hero about-hero-foot inc-fade-speed-2">

    <div class="content">
      <h1>
        Make Cool Shit.
      </h1>
    </div>

    <div class="about-hero-foot-overlay">
    </div>

  </div>
</a>
