$clr-white: #ffffff;
$clr-black: #000000;
$clr-gunmetal: #201D27;
$clr-hotmetal: #FF6C46;

::-moz-selection { background: $clr-hotmetal; }
::selection { background: $clr-hotmetal; }
body { background-color: $clr-black; }
