<article class="project-wrap">
  <div class="project-inner">

    <div class="page-hero inc-fade-speed-2" style="background-image:url('{{site.baseurl}}{{ page.cover }}');background-size:cover;background-repeat:no-repeat;">
      <div class="page-hero-title">
        <h1 class="fadein-3-sec">
          {{ page.title }}
        </h1>
      </div>
      <div class="page-hero-scroll-down">
        <span>
          Read More
        </span>
        <span>
          {% include svg-arrow.html %}
        </span>
      </div>
    </div>

    <div class="project-content">
      <div class="project-description">
        <div class="project-description-inner">
          <h2>
            {{ page.subtitle }}
          </h2>
          <p>
            {{ content }}
          </p>
          <span class="project-share">
            <span>
              Share
            </span>
            {% include svg-fb.html share="true" %}
            {% include svg-linkedin.html share="true" %}
            {% include svg-twitter.html share="true" %}
          </span>
        </div>
      </div>
      <div class="project-images">
        {% for img in page.images %}
          <img src="{{site.baseurl}}{{ img }}" alt="{{ page.title }}" />
        {% endfor %}
        <img src="{{site.baseurl}}{{ page.cover }}" alt="{{ page.title }}" />
      </div>
    </div>

    <div class="gallery-footer-container">
      <div class="gallery-footer-inner">
        {% for post in site.posts | limit:3 %}
          {% include lmnt-project-card.html third='true' %}
        {% endfor %}
      </div>
      <div class="gallery-footer-cta">
        <a href="{{ site.baseurl }}/projects.html">
          <h3>
            View All Projects
          </h3>
        </a>
      </div>
    </div>



  </div>
</article>
