<div class="lmnt-project-card lmnt-project-card-half">
  <div class="lmnt-project-card-inner" style="background-image:url('{{ post.cover }}');background-size:cover;background-repeat:no-repeat;">
    <a href="{{ site.baseurl }}/{{ post.url }}">
      <div class="lmnt-project-card-overlay">
        <span class="lmnt-project-card-date">
          {{ post.date | date: "%b %d, %Y" }}
        </span>
        <span class="lmnt-project-card-title">
          {{ post.title }}
        </span>
      </div>
    </a>
  </div>
</div>
