<article class="project-wrap">
  <div class="project-inner">

    <div class="page-hero" style="background-image:url('{{ page.cover }}');background-size:cover;background-repeat:no-repeat;">
      <div class="page-hero-title">
        <h1>
          {{ page.title }}
        </h1>
      </div>
      <div class="page-hero-scroll-down">
        <span>
          Read More
        </span>
        <span>
          {% include svg-arrow.html %}
        </span>
      </div>
    </div>

    {{ content }}
  </div>
</article>
