<head>
  <meta charset="utf-8">

  <!-- page title -->
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">

  <!-- stylesheet -->
  <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>

  <!-- jquery -->
  <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->

  <!-- js -->
  <script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/slick/slick.min.js"></script>
</head>
