footer {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  flex-direction:column;
  align-content:center;
  justify-content:center;
  height:100vh;
  width:100%;
  max-width:$base-max-width;
  margin:0 auto;
  color:$clr-white;
  background-color:$clr-black;
  padding:0px $base-spacing*2;
  z-index:1;
  .content {
    max-width:$base-max-width/1.5;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    h1 {
      font-size:82px;
      text-align:center;
      border-bottom:11px $clr-white solid;
      display:inline-block;
      margin:0 auto;
    }
    p {
      padding-top:$base-spacing*1.5;
      font-size:52px;
      text-align:center;
    }
  }
  .lmnt-footer-social {
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:center;
    padding-bottom:$base-spacing;
    svg {
      fill:$clr-white;
    }
  }
}
